<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>TinyApp</title>
</head>
<body>

  <% include ./partials/_header %>

    <% for(var shortUrl in urls) { %>

    <div class="button-container right-space">

        <form class="urlMargin" action="/urls/<%=shortUrl%>/delete" method="POST">
          <a href='#'><%= shortUrl %><a/> -----------> <%= urls[shortUrl].longURL %>
          <h4>To share link use format: localhost:8080/redirect/<%= shortUrl %></h4>
          <div><button type="submit" class="btn btn-primary">Delete</button></div>
        </form>

       <form class="urlMargin" action="/urls/<%=shortUrl%>" method="GET">
         <div><button type="submit" class="btn btn-primary urlsButtonMargin">Edit</button></div>
       </form>
     <% } %>

       <% if(username) { %>
        <div class="center-container-4">
         <div class="button-container">
             <form class="urlMargin" action="/urls/new" method="GET">
               <div><button type="submit" class="btn btn-primary urlsButtonMargin">CREATE URL</button></div>
             </form>
        </div>
      </div>
        <% } else { %>
        <div class="center-container-1">
           <div class="button-container">
              <form class="urlMargin" action="/login" method="POST">
                 <div><button type="submit" class="btn btn-primary urlsButtonMargin">CREATE URL</button></div>
              </form>
          </div>
        </div>
      </div>

         <% } %>

</body>
</html>
